<section class="menu" once="menu" id="menu1-1">

  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded bg-green">
    <div class="menu-logo">
      <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                         <img src="assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-6" href="https://mobirise.com">
                        Why PropertyChain
                    </a></span>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Token Sales</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">Investing 101</a>
            <a class="dropdown-item" href="#">Advanced Investing</a>
            <a class="dropdown-item" href="#">Frequently Asked Questions</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
</section>




