<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent navbar-db bg-db">
  <div class="menu-logo">
    <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="">
                         <img src="assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>PIC
                </span>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navbar-db bg-db" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-db bg-db" routerLink="/upload">List Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-db bg-db" routerLink="/contact">Token Sales</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-db bg-db" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item navbar-db bg-db" routerLink="/about">Investing 101</a>
          <a class="dropdown-item navbar-db bg-db" href="#">Advanced Investing</a>
          <a class="dropdown-item navbar-db bg-db" href="#">Frequently Asked Questions</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-white-outline my-2 my-sm-0" type="submit" [routerLink]="['/login']"
              >Sign In</button>
    </form>
  </div>
</nav>


<!--
<section class="cid-qvQeFy23Ch mbr-fullscreen mbr-parallax-background" id="header2-0" data-rv-view="124">


  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(144, 108, 128);"></div>

  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Buy and sell </h1>

        <p class="mbr-text pb-3 mbr-fonts-style display-5">
          The Global Leader in Property Transactions Secured Through Blockchain!</p>
        <div _ngcontent-c7="" class="location-search theme big">
          <div _ngcontent-c7="" class="inner-addon left-addon">
            <i _ngcontent-c7="" class="fa fa-search"></i>
            <input _ngcontent-c7="" autocapitalize="off" autocorrect="off" class="form-control propy-control ng-no-margin" size="100" spellcheck="off" type="text" placeholder="Enter a city or address..." autocomplete="off"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
    <a href="#next">
      <i class="mbri-down mbr-iconfont"></i>
    </a>
  </div>
</section>
-->




