<section class="cid-qvQeFy23Ch mbr-fullscreen mbr-parallax-background" id="header2-0" data-rv-view="124">


  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(144, 108, 128);"></div>

  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Buy and sell </h1>

        <p class="mbr-text pb-3 mbr-fonts-style display-5">
          The Global Leader in Property Transactions Secured Through Blockchain!</p>
        <div _ngcontent-c7="" class="location-search theme big">
          <div _ngcontent-c7="" class="inner-addon left-addon">
            <i _ngcontent-c7="" class="fa fa-search"></i>
            <input _ngcontent-c7="" autocapitalize="off" autocorrect="off"
                   class="form-control propy-control ng-no-margin" size="100" spellcheck="off" type="text"
                   placeholder="Enter a city or address..." autocomplete="off"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
    <a href="#next">
      <i class="mbri-down mbr-iconfont"></i>
    </a>
  </div>
</section>

<div class="container">
  <div class="bt"></div>
</div>


<div class="row">

  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">29 Village Dr</h6>
          <small class="text-muted">Own 8% shares</small>
        </div>
        <span class="text-muted">PIC: 12,000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">431 Woodbridge Ln</h6>
          <small class="text-muted">Own 20% shares</small>
        </div>
        <span class="text-muted">PIC: 18,000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">33 Lake Dr</h6>
          <span class="muted-primary">Own 90% shares</span>
        </div>
        <span class="text-muted">PIC: 90,000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Coupon Code</h6>
          <small>986532</small>
        </div>
        <span class="text-success">PIC: 1000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total PIC Coins</span>
        <strong>121,000</strong>
      </li>
    </ul>

    <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-8 order-md-1">

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/assets/img/ISyz15s6j5dpgi1000000000.jpg"
             style="height:160px;width:100%;" alt="Card image cap">
        <ul class="list-group list-group-flush">
          <li class="card-group-item"><span _ngcontent-c1=""
                                            class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate"
                                            data-reactid="76">$1,500,000</span></li>
          <li class="card-group-item">
            <ul class="listInline typeTruncate mvn"
                data-testid="cardDescription" data-reactid="130">
              <li data-testid="beds" data-auto-test="beds" data-reactid="131">
                <i class="iconBed" data-reactid="132"></i>
                <!-- react-text: 133 -->4bd
                <!-- /react-text -->
              </li>
              <li data-testid="baths" data-auto-test="baths"
                  data-reactid="134">
                <i class="iconBath" data-reactid="135"></i>
                <!-- react-text: 136 -->3ba
                <!-- /react-text -->
              </li>
            </ul>
          </li>
          <li class="card-group-item">
            <div _ngcontent-c1="" class="h6 typeWeightNormal typeTruncate typeLowlight mvn"
                 data-reactid="88">29 Cliton Dr
            </div>
          </li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">
            <button _ngcontent-c1="" class="btn btnFullWidth btnTertiary cta">Contact
              Property
            </button>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top"
             src="/assets/img/ISek0yix5i399q0000000000.jpg"
             style="height:160px;width:100%;"
             alt="431 Woodbridge Ln, Jericho, NY" data-reactid="120">
        <ul class="list-group list-group-flush">
          <li class="card-group-item"><span _ngcontent-c1=""
                                            class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate"
                                            data-reactid="76">$900,000</span></li>
          <li class="card-group-item">
            <ul class="listInline typeTruncate mvn"
                data-testid="cardDescription" data-reactid="130">
              <li data-testid="beds" data-auto-test="beds" data-reactid="131">
                <i class="iconBed" data-reactid="132"></i>
                <!-- react-text: 133 -->4bd
                <!-- /react-text -->
              </li>
              <li data-testid="baths" data-auto-test="baths"
                  data-reactid="134">
                <i class="iconBath" data-reactid="135"></i>
                <!-- react-text: 136 -->3ba
                <!-- /react-text -->
              </li>
            </ul>
          </li>
          <li class="card-group-item">
            <div _ngcontent-c1="" class="h6 typeWeightNormal typeTruncate typeLowlight mvn"
                 data-reactid="88">29 Village Dr
            </div>
          </li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">
            <button _ngcontent-c1="" class="btn btnFullWidth btnTertiary cta">Contact
              Property
            </button>
          </small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/ISyzpn2af4qx9q1000000000.jpg"
             style="height:160px;width:100%;" alt="Card image cap">
        <ul class="list-group list-group-flush">
          <li class="card-group-item"><span _ngcontent-c1=""
                                            class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate"
                                            data-reactid="76">$1,000,000</span></li>
          <li class="card-group-item">
            <ul class="listInline typeTruncate mvn"
                data-testid="cardDescription" data-reactid="130">
              <li data-testid="beds" data-auto-test="beds" data-reactid="131">
                <i class="iconBed" data-reactid="132"></i>
                <!-- react-text: 133 -->4bd
                <!-- /react-text -->
              </li>
              <li data-testid="baths" data-auto-test="baths"
                  data-reactid="134">
                <i class="iconBath" data-reactid="135"></i>
                <!-- react-text: 136 -->3ba
                <!-- /react-text -->
              </li>
            </ul>
          </li>
          <li class="card-group-item">
            <div _ngcontent-c1="" class="h6 typeWeightNormal typeTruncate typeLowlight mvn"
                 data-reactid="88">129 Marcus Dr
            </div>
          </li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">
            <button _ngcontent-c1="" class="btn btnFullWidth btnTertiary cta">Contact
              Property
            </button>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="features1 cid-qvQeKADmXz" id="features1-1" data-rv-view="127">

  <div class="container">
    <div class="media-container-row">

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-hearth" style="color: rgb(35, 35, 35);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">Make Social!</h4>
          <p class="mbr-text mbr-fonts-style display-7">
            It is a real estate investment social media platform. It enables the members to share their investment
            experience through discussion forums. &nbsp;</p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-users" style="color: rgb(35, 35, 35);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">
            Post review/blog!</h4>
          <p class="mbr-text mbr-fonts-style display-7">
            Create a real estate global RE ledger to have complete transparency on the property transactions and
            property related information.
          </p>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-img pb-3">
          <span class="mbr-iconfont mbrib-magic-stick" style="color: rgb(35, 35, 35);" media-simple="true"></span>
        </div>
        <div class="card-box">
          <h4 class="card-title py-3 mbr-fonts-style display-5">
            Make Investment!</h4>
          <p class="mbr-text mbr-fonts-style display-7">
            The investors who purchased the shares of rental property will receive their portion of the rental via
            automated payment
            .
          </p>
        </div>
      </div>


    </div>

  </div>

</section>

<section class="features11 cid-qvQeLmno0F" id="features11-2" data-rv-view="130">


  <div class="container">
    <div class="col-md-12">
      <div class="media-container-row">
        <div class="mbr-figure" style="width: 50%;">
          <img src="assets/images/marjorie-bertrand-107601-2000x3000.jpg" alt="Mobirise" title="" media-simple="true">
        </div>
        <div class=" align-left">
          <h3 class="mbr-title pt-2 mbr-fonts-style display-2">Enjoy <strong>Token </strong>auctions!</h3>

          <div class="block-content">
            <div class="card p-3 pr-3">
              <div class="media">
                <div class=" align-self-center card-img pb-3">
                  <span class="mbr-iconfont mbri-hearth" style="color: rgb(35, 35, 35);" media-simple="true"></span>
                </div>
                <div class="media-body">
                  <h4 class="card-title mbr-fonts-style display-7">
                    Share your experience with<strong> #PIC Social 2018</strong></h4>
                </div>
              </div>

              <div class="card-box">
                <p class="block-text mbr-fonts-style display-7">
                  So that our members can access to the information of the properties in the market from anywhere and
                  anytime.
                </p>
              </div>
            </div>

            <div class="card p-3 pr-3">
              <div class="media">
                <div class="align-self-center card-img pb-3">
                  <span class="mbr-iconfont mbri-sun" style="color: rgb(35, 35, 35);" media-simple="true"></span>
                </div>
                <div class="media-body">
                  <h4 class="card-title mbr-fonts-style display-7">
                    Maximize their investments<strong> Return in 2018</strong></h4>
                </div>
              </div>

              <div class="card-box">
                <p class="block-text mbr-fonts-style display-7">
                  User Ethereum ERC721 smart contract, the non-fungible token, to create digital assets for each
                  property items to be sold in the market from the private real estate investment fund.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="header1 cid-qvQeOE5Mkr mbr-parallax-background" id="header1-3" data-rv-view="133">


  <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(79, 65, 42);">
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
          PIC

        </h1>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
          is a financial technology company
        </h3>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
          Provides an ecosystem with blockchain technology to its members on real estate investment.
        </p>
        <div class="mbr-section-btn align-center"><a class="btn btn-md btn-white-outline display-4" href="">
          <span class="mbr-iconfont mbri-file"></span>LEARN MORE</a>
          <a class="btn btn-md btn-white-outline display-4" href="">
            <span class="mbr-iconfont mbri-idea"></span>LIVE DEMO</a></div>
      </div>
    </div>
  </div>

</section>


<div class="container">
  <div class="bt"></div>
</div>


<section class="clients cid-qvQfKA3Kov" id="clients-7" data-rv-view="145">

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 25%;
      height: 15%;
    }
  </style>





  <div class="container mb-5">
    <div class="media-container-row">
      <div class="col-12 align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
          Our <strong>Sponsors</strong></h2>
        <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
          Click any image to change it. Click blue "Gear" icon in the top right corner to change background, amount
          slides and amount visible items at once.
        </h3>
      </div>
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" data-visible="2">
      <div class="carousel-item active">
        <div class="media-container-row">
          <div class="col-md-12">
            <div class="wrap-img ">
              <img src="assets/images/1.png" alt="Los Angeles" class="img-responsive clients-img">
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="media-container-row">
          <div class="col-md-12">
            <div class="wrap-img ">

              <img src="assets/images/2.png" alt="Chicago" class="img-responsive clients-img">
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="media-container-row">
          <div class="col-md-12">
            <div class="wrap-img ">
              <img src="assets/images/3.png" alt="New York" class="img-responsive clients-img">
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>


<section class="testimonials1 cid-qvQfGWW3Zl" id="testimonials1-6" data-rv-view="142">


  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 align-center">
        <h2 class="pb-3 mbr-fonts-style display-2">
          Some <strong>Key </strong>IT funders</h2>
        <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Algunos patrocinadores clave de
          TI.</h3>
      </div>
    </div>
  </div>


  <div class="container pt-3 mt-2">
    <div class="media-container-row">


      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-3">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/jun.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>CEO </strong>
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              Jun Zhang
            </div>

          </div>
        </div>
      </div>


      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-3">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/richard.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>CTO </strong>
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              Richard Wu
            </div>

          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-3">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/junqi.jpg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>UI Director </strong>
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              Junqi Wu
            </div>

          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-3">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/kevin.jpeg" alt="" title="" media-simple="true">
            </div>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>DevOps Director </strong>
            </p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
              Kevin Jiang
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>
